.vikas{
    /* background: url(https://image.ibb.co/ndOopb/g14779.png); */
    background: url(https://image.ibb.co/hbSTQG/g4499.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* 2:1 */
}
.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
}
.messageBox{
    position: fixed;
    right: 23px;
    bottom: 1px;
    margin-bottom: 0;
    z-index: 997;
}

.viewing-page-1>.fixed-action-btn>.btn-floating {
    visibility: hidden;
}
#svg4858{
    animation: spin 2.4s cubic-bezier(.4, .2, 0, 1) both, fadeIn 1s 600ms linear both;
    border-radius: 4px;
   
}
#background_circle{
    box-shadow: 0px 16px 47px -15px rgb(89, 11, 155);
}
@keyframes spin {
    from {
      transform: rotate(1440deg) scale(0.8);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  

.landing>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.landing>.container>h2 {
    align-self: center;
}

html,
body,
.block {
    height: 100%;
}


.svg-circle {
    height: 90vh;
    width: 90vw;
    position: relative;
}




.flex_layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    margin: auto;
}

#box-r {
    transform: translate3d(0, 0, 0);
    transition: .4s;
}


.scroll_down {
    position: absolute;
    bottom: 20px;
}
/* animation blink text with pulse animation */
.pulse_text{ animation: fadeIn 2s; -webkit-animation: fadeIn 2s; }
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
 
/* ends here */
.line-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
    
}
.onepage-pagination{
    visibility: hidden !important;
}
.slider .slides li .caption {
  
    color:#000;
    
}



/* .logo_box{
    display: flex;
    width: 50vw;
    flex-direction: column;
    height: 70vh;
} */
.center_clients {
    display: flex;
    flex-direction: row;
    height: 80vh;}
    .center_clients>.items{
width: 50vw;
padding: 1rem;
    }
    .boxed_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
    .lined>img{
        height: 12rem;
    }

    .boxed_slider{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .boxed_contact{
        display: flex;
        align-items: stretch;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }
    .boxed_contact .i-1{
        width: 30vw;
        align-self: center;
    }

   
   

@media only screen and (min-width: 601px) {
    #svg4858{
        
    }
    .timepicker-modal {
      max-width: 600px;
    }
    .timepicker-container.modal-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .timepicker-text-container {
      top: 32%;
    }
    .timepicker-display-am-pm {
      position: relative;
      right: auto;
      bottom: auto;
      text-align: center;
      margin-top: 1.2rem;
    }
   
  }

  